* {
  margin: 0;
  padding: 0;
}

.home-page {
  width: 100%;
  height: 100%;
}

.body {
  padding: 5px;
  margin: 6px;
}

.header {
  display: flex;
  text-align: center;
}

.link-holder {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.first-page {
  height: 40%;
  width: 40%;
}

.second-page {
  height: 40%;
  width: 40%;
}

.guest-book {
  padding: 20px;
}

.image-holder {
  width: 40%;
  height: 40%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.images {
  width: 33.4%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

a:hover {
  border: 1px solid black;
}